@font-face {
    font-family: "Baou Display";
    src: url(fonts/Baou-Display.woff2), url(fonts/Baou-Display.woff);
}

@font-face {
    font-family: "Comba";
    src: url(fonts/Comba-BoldUltraWide.woff2),
        url(fonts/Comba-BoldUltraWide.woff);
}

body {
    font-family: "Baou Display";
    color: #f9e6de;
    background-color: #016c88;
    margin: 0;
    user-select: none;
}

main {
    max-width: 768px;
    margin: 0 auto;
    padding: 2rem;
}

p {
    font-size: 1rem;
    line-height: 2;
    text-shadow: 2px 2px 4px #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Comba";
    letter-spacing: 0.05em;
    color: #dfa900;
}

h1 {
    font-size: 3rem;
    text-shadow: 0px 2px 6px #000000;
}

.modal img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 20;
}

.modal {
    position: fixed;
    top: 0;
    z-index: 10;
    height: calc(100% - 51px);
    width: 100vw;
    padding: 2rem;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.95);
}

.container {
    width: 100%;
    height: 100%;
}

[x-cloak] {
    display: none !important;
}

button {
    width: 100%;
    border: none;
    font-family: "Comba";
    font-size: 1rem;
    padding: 1rem;
}
